.barcelona { background: url("../image/barcelona.jpeg");background-size: cover; }
.italie { background: url("../image/tourdepises.jpeg");background-size: cover;}
.tunis { background: url("../image/Tunis.jpeg");background-size: cover;}
.montreal { background: url("../image/montreal.jpeg");background-size: cover;}
.japon { background: url("../image/japon.jpeg");background-size: cover;}
.pekin { background: url("../image/chine.webp");background-size: cover;}